/* Reset de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Estilos del cuerpo */
body {
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
}

/* Header */
header {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2%;
}

.logo img {
    width: 100px;
    right: 30px;
}

.icon-large {
    color: black; /* Color inicial */
    transition: color 0.3s ease; 
}

.icon:hover {
    color: rgb(94, 91, 108); /* Color al pasar el ratón por encima */
  }

.user-profile img {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

/* Sección Hero */
.hero-section {
    position: relative;
    height: 400px; 
    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-text h1, .hero-text p {
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

/* Sección Conócenos */
.about-section {
    text-align: center;
    padding: 3rem 2rem;
    background-color: #f8f8f8;
}

.about-section h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #333;
}

.about-content {
    display: flex;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
}

.about-item {
    text-align: center;
    width: 450px;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-item img {
    width: 270px;
    height: 270px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.about-item h3 {
    font-size: 1.5rem;
    color: #444;
    margin-bottom: 0.5rem;
}

.about-item p {
    font-size: 1rem;
    color: #777;
}

/* Footer */
footer {
    background: linear-gradient(to right, 
        #7fc6fa, 
        #f981f5, 
        #7a87f8, 
        #80fb95, 
        #7e8af5,
        #f47ef0
    );
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    flex-wrap: wrap;
}

.contact-info h4 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #000;
}

.contact-info p {
    margin: 0.3rem 0;
    color: #000;
}

.social-media a img {
    width: 30px;
    margin: 0 10px;
    transition: opacity 0.3s;
}

.social-media a img:hover {
    opacity: 0.8;
}

.footer-bottom {
    background-color: #111;
    padding: 1rem;
    font-size: 0.9rem;
}

/* Sección Jóvenes */
.section-jovenes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.jovenes1, .jovenes2 {
    width: 90%;
    margin: 1rem 0;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: row;
}

.jovenes3 {
    width: 90%; /* Asegurarse de que esta sección ocupe el ancho completo */
    text-align: center;
    margin: 2rem 0; /* Margen superior e inferior */
}

.imagenes-proposito {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.imagenes-proposito img {
    width: 30%;
    margin: 10px;
    max-width: 60px;
    max-height: 50px;
    border: 2px solid blue;
    border-radius: 50%;
}

.section-jovenes img {
    max-width: 200px;
    max-height: 230px;
    border: 2px solid transparent;
    border-radius: 50%;
    background: linear-gradient(135deg, #8e44ad, #3498db, #2c3e50, #e84393, #2ecc71);
    padding: 6px;
    background-clip: padding-box;
}

/* section-jovenesTareas */
.section-jovenesTareas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .jovenes1Tareas, .jovenes2Tareas, .jovenes3Tareas {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 3rem 0;
  }
  
  .jovenes1Tareas > div,
  .jovenes2Tareas > div,
  .jovenes3Tareas > div {
    flex: 1;
    padding: 4rem;
    text-align: justify;
  }
  
  .jovenes1Tareas img,
  .jovenes2Tareas img,
  .jovenes3Tareas img {
    width: 200px; /* Ajusta el ancho según tus necesidades */
    height: auto;
    padding: 1rem;
    margin: 2rem auto;
  }
  
  /* Media query para pantallas más pequeñas */
  @media (max-width: 768px) {
    .jovenes1Tareas, .jovenes2Tareas, .jovenes3Tareas {
      flex-direction: column;
    }
  
    .jovenes1Tareas img, .jovenes2Tareas img, .jovenes3Tareas img {
      margin-bottom: 1rem;
    }
  }

  .titulo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .parrafo {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    text-align: justify;
  }






/* login */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px); /* Ajusta según la altura de tu header y footer */
    background-color: #f0f0f0;
    padding: 20px;;
}
.login-card {
    background-color: #f3e8ff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.login-form {
    display: flex;
    flex-direction: column;
}
.form-group {
    margin-bottom: 15px;
}
.login-form label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
    color: #333;
}
.login-form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.login-form button {
    background-color: #9333ea;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.login-form button:hover {
    background-color: #7e22ce;
}
.forgot-password {
    text-align: center;
    margin-top: 15px;
}
.forgot-password a {
    color: #9333ea;
    text-decoration: none;
    font-size: 14px;
}
.forgot-password a:hover {
    text-decoration: underline;
}


/* inicio */

.user-info {
    display: flex;
    align-items: center;
    position: relative;
}
.user-name {
    margin-right: 10px;
    font-weight: bold;
}
.user-profile {
    cursor: pointer;
}
.user-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    width: 120%;
}
.user-menu a {
    display: block;
    padding: 5px 15px;
    text-decoration: none;
    color: #333;
}
.user-menu a:hover {
    background-color: #f0f0f0;
}

.container {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    min-height: 10%;
    background: linear-gradient(to right,
         #7fc6fa,
         #f981f5,
         #7a87f8,
         #80fb95,
         #7e8af5,
        #f47ef0
    );
    text-align: center;
}

/* Estilo para la barra de navegación */
.navbar-nav {
    padding: 15px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

/* Estilos del UL (lista de navegación) */
.navbar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Coloca los elementos de la lista en una fila horizontal */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Alinea verticalmente los elementos */
    max-width: 100%; /* Asegura que ocupe todo el ancho */
}

/* Espaciado entre los elementos de la lista */
.navbar-nav li {
    margin: 0 120px; /* Aumentado el espacio entre los elementos */
}

.navbar-nav a {
    text-decoration: none; /* Elimina el subrayado */
    color: #333;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease; /* Transición suave para el cambio de color */
}

/* Cambia el color del enlace cuando pasas el ratón por encima */
.navbar-nav a:hover {
    color: #000000; /* Color al hacer hover */
}

/* Oscurecer el enlace al hacer clic */
.navbar-nav a:active {
    color: #555; /* Color más oscuro al hacer clic */
}

/* Nuevos estilos para la página de onboarding */
.onboarding-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 8%;
}

h1, h2, h3 {
    text-align: center;
    color: #333;
}

/* seccion1 */
.rutas-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}

.ruta {
    width: 220px;
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    border: 2px solid;
}

.ruta h3 {
    margin-top: 0;
    font-size: 18px;
}

.ruta p {
    margin-bottom: 0;
    font-size: 14px;
}

.ruta1 { 
    background-color: #b3ffc7;
    border-color: #00ff44;
}
.ruta2 { 
    background-color: #ffffc1;
    border-color: #ffff00;
}
.ruta3 { 
    background-color: #bdf4ff;
    border-color: #00e1ff;
}
.ruta4 { 
    background-color: #ffd6ee;
    border-color: #ff9ed2;
}

h1 {
    color: red;
    font-size: 24px;
    margin-bottom: 10px;
}

h2 {
    color: #ff8c00;
    font-size: 20px;
    margin-top: 0;
}


/* seccion2 */
.metodologia {
    background-color: white;
    border-radius: 10px;
    padding: 60px;
    margin-top: 30px;
    position: relative;
    padding: 4%;

}

.metodologia::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 10px;
    background-color: #00ff00;
    border-radius: 10px;
}

.metodologia h2 {
    color: red;
    font-size: 24px;
    margin-bottom: 10px;
}

.metodologia-descripcion {
    text-align: center;
    margin-bottom: 20px;
}

.pasos {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.paso {
    width: 22%;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    min-height: 200px;
}

.paso h3 {
    margin-top: 0;
    font-size: 18px;
    color: white;
}

.paso p {
    font-size: 14px;
    margin-bottom: 0;
}

.descubre {
    background-color: #ff6b6b;
}

.imagina {
    background-color: #feca57;
}

.crea {
    background-color: #48dbfb;
}

.celebra {
    background-color: #9842f5;
}


/* seccion onbording */

/* Estilos existentes */
.section {
    background-color: transparent;
    margin-bottom: 20px;
    padding: 4%;

}

h2 {
    color: #333;
    text-align: center;
}
.profiles {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.profile {
    text-align: center;
    margin: 10px;
}
.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.profile-frame {
    padding: 5px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.name {
    font-weight: bold;
    margin-top: 5px;
}
.role {
    font-size: 0.9em;
    color: #666;
}

/* Estilos actualizados para la sección "FAMILIA JÓVENES TALENTO" */
#familia-jovenes {
    padding: -2%;

}

#familia-jovenes h2 {
    margin-bottom: 50px;
}

#familia-jovenes .profiles {
    position: relative;
    z-index: 1;
}

#familia-jovenes .profile {
    display: flex;
    flex-direction: column;
}

#familia-jovenes .profile-frame {
    margin-top: -70px;
    margin-bottom: 10px;
    position: relative;
    z-index: 2;
}

/* Gradientes actualizados para ambas secciones */
.profile-frame.pink {
    background: linear-gradient(to bottom right, #FFB6C1, #f688bf,#e416c2 );
}

.profile-frame.light-blue {
    background: linear-gradient(to bottom right, #87CEFA, #1E90FF, #104b85);
}

.profile-frame.light-green {
    background: linear-gradient(to bottom right, #90EE90, #32CD32, #07a725);
}

#familia-jovenes .profile-frame.green {
    background: linear-gradient(to bottom right, #90EE90, #32CD32);
}

#familia-jovenes .profile-frame.blue {
    background: linear-gradient(to bottom right, #87CEFA, #1E90FF);
}

#familia-jovenes .profile-frame.purple {
    background: linear-gradient(to bottom right, #DDA0DD, #8A2BE2);
}



/* Nuevos estilos para la sección "FAMILIA JÓVENES TALENTO" */
#familia-jovenes .profile {
    display: flex;
    flex-direction: column;
}
#familia-jovenes .profile-frame {
    margin-top: -30px;
    margin-bottom: 30px;
}
#familia-jovenes .profile-frame.green {
    background: linear-gradient(to bottom right, #90EE90, #32CD32, #07a725);
}
#familia-jovenes .profile-frame.blue {
    background: linear-gradient(to bottom right, #87CEFA, #1E90FF, #104b85);
}
#familia-jovenes .profile-frame.purple {
    background: linear-gradient(to bottom right, #FFB6C1, #f688bf,#e416c2 );
}


/* Estilo para el ícono circular al final */
.metodologia::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background-image: url('ruta/a/tu/imagen/circular.png');
    background-size: contain;
    margin: 20px auto 0;
}



/* tareas container */
.tareas-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
}

.tareas {
    width: 220px;
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    border: 2px solid;
}

.tareas h3 {
    margin-top: 0;
    font-size: 18px;
}

.tareas p {
    margin-bottom: 0;
    font-size: 14px;
}

.tareas ruta1 { 
    background-color: #5e9d6f;
    border-color: #00ff44;
}
.tareas ruta1 { 
    background-color: #ffffc1;
    border-color: #ffff00;
}
.tareas ruta1{ 
    background-color: #bdf4ff;
    border-color: #00e1ff;
}
.tareas ruta1 { 
    background-color: #ffd6ee;
    border-color: #ff9ed2;
}

h1 {
    color: red;
    font-size: 24px;
    margin-bottom: 10px;
}

h2 {
    color: #ff8c00;
    font-size: 20px;
    margin-top: 0;
}

.button-container {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    margin-bottom: 50px; /* Espacio debajo del botón */
}

.styled-button {
    background-color: yellow; /* Color de fondo */
    color: rgb(6, 6, 6); /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    text-decoration: none;
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    transition: background-color 0.3s, transform 0.2s; /* Transiciones suaves */
}

/* Efecto hover */
.styled-button:hover {
    background-color: #45a049; /* Color de fondo al pasar el mouse */
    transform: scale(1.05); /* Efecto de aumento */
}



.calendar {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.days-of-week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.day {
    padding: 20px;
    background: #eaeaea;
    border-radius: 5px;
    position: relative;
    text-align: center;
    cursor: pointer;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.day.today {
    background: #FFD700;
    color: #000;
    font-weight: bold;
}

.event {
    background: #4CAF50;
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
}

.event-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.form-content {
    display: flex;
    flex-direction: column;
}

.event-form h2 {
    margin-top: 0;
    color: #333;
}

.event-form input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.event-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 5px;
}

#addEvent {
    background: #4CAF50;
    color: white;
    margin-right: 10px;
}

#cancelEvent {
    background: #f44336;
    color: white;
}