<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda</title>
    <link rel="stylesheet" href="../static/css/styles.css">

</head>
<body>

    <header>
        <nav class="navbar-header">
            <div class="logo">
                <a href="{%url 'index'%}">
                    <img src="../static/img/logo.png" alt="Logo Global MVM">
                </a>
            </div>
            <div class="user-info">
                <span class="user-name" id="userName">Hola </span>
                <div class="user-profile" id="userProfileIcon">
                    <img src="../static/img/user.jpg" alt="User Profile">
                </div>
                <div class="user-menu" id="userMenu">
                    <a href="#" id="logoutButton">Cerrar sesión</a>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <nav class="navbar-nav">
            <ul>
                <li><a href="{%url 'onboarding'%}">Onboarding</a></li>
                <li><a href="{%url 'tareas'%}">Tareas</a></li>
                <li><a href="{%url 'agenda'%}">Agenda</a></li>
            </ul>
        </nav>
    </div>

    <div class="calendar">
        <div class="header">
            <button id="prev">◀</button>
            <h1 id="monthYear"></h1>
            <button id="next">▶</button>
        </div>
        <div class="days-of-week">
            <div>Dom</div>
            <div>Lun</div>
            <div>Mar</div>
            <div>Mié</div>
            <div>Jue</div>
            <div>Vie</div>
            <div>Sáb</div>
        </div>
        <div class="days" id="days"></div>
    </div>

    <div class="event-form" id="eventForm">
        <div class="form-content">
            <h2>Agregar Evento</h2>
            <input type="text" id="eventInput" placeholder="Descripción del evento">
            <button id="addEvent">Agregar</button>
            <button id="cancelEvent">Cancelar</button>
        </div>
    </div>

    <script src="../static/js/script.js"></script>

    <footer>
        <div class="footer-container">
            <div class="contact-info">
                <h4>CONTÁCTANOS</h4>
                <p>📞 (57) 318 409 5193</p>
                <p>📧 personasexcepcionales@globalmvm.com</p>
            </div>
            <div class="social-media">
                <a href="#"><img src="../static/img/in.png" alt="LinkedIn"></a>
                <a href="#"><img src="../static/img/x.png" alt="X"></a>
                <a href="#"><img src="../static/img/facebook.png" alt="Facebook"></a>
                <a href="#"><img src="../static/img/you.svg" alt="YouTube"></a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>©2024 Global MVM. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>