<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jovenes Talento</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <!-- Header -->
    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="{%url 'index'%}">
                    <img src="../static/img/logo.png" alt="Logo Global MVM">
                </a>
            </div>
            <div class="user-profile">
                <a href="{%url 'login'%}">
                   <!-- <img src="../static/img/user.jpg" alt="User Profile"> -->
                   <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person-circle icon" viewBox="0 0 16 16" color="black">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                  </svg>
                </a>
            </div>
        </nav>  
    </header>

    <!-- Main Section with Carousel -->
    <section class="hero-section">
        <div class="hero-overlay">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
            <div class="hero-text">
                <h1>Bienvenidos a Global MVM</h1>
                <p>Soluciones digitales para una mejor energia</p>
            </div>
        </div>
    </section>

    <!-- Conocenos Section -->
    <section class="about-section">
        <h2>CONÓCENOS</h2>
        <div class="about-content">
            <div class="about-item">
                <a href="https://www.globalmvm.com"> <!-- Agrega el enlace aquí -->
                    <img src="../static/img/logo.png" alt="Logo Global MVM">
                </a>
                <h3>Somos Global MVM</h3>
                <p>Líderes en gestión de talentos excepcionales.</p>
            </div>
            <div class="about-item">
                <a href="{%url 'jovenesTalento'%}"> <!-- Agrega el enlace aquí -->
                    <img src="../static/img/jovenest.png" alt="Jóvenes Talento">
                </a>
                <h3>Somos Jóvenes Talento</h3>
                <p>Transformando las oportunidades para las nuevas generaciones.</p>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="footer-container">
            <div class="contact-info">
                <h4>CONTÁCTANOS</h4>
                <p>📞 (57) 318 409 5193</p>
                <p>📧 personasexcepcionales@globalmvm.com</p>
            </div>
            <div class="social-media">
                <a href="#"><img src="../static/img/in.png" alt="LinkedIn"></a>
                <a href="#"><img src="../static/img/x.png" alt="X"></a>
                <a href="#"><img src="../static/img/facebook.png" alt="Facebook"></a>
                <a href="#"><img src="../static/img/you.svg" alt="YouTube"></a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>©2024 Global MVM. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>
