<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Global MVM</title>
    <link rel="stylesheet" href="../static/css bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
        <nav class="navbar-header">
            <div class="logo">
                <a href="{%url 'index'%}">
                    <img src="../static/img/logo.png" alt="Logo Global MVM">
                </a>
            </div>
            <div class="user-info">
                <span class="user-name" id="name">Hola </span>
                <div class="user-profile" id="userProfileIcon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle icon" viewBox="0 0 16 16" color="black">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                      </svg>
                </div>
                <div class="user-menu" id="userMenu">
                    <a href="#" id="logoutButton">Cerrar sesión</a>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <nav class="navbar-nav">
            <ul>
                <li><a href="{%url 'inicio'%}">Home</a></li>
                <li><a href="{%url 'onboarding'%}">Onboarding</a></li>
                <li><a href="{%url 'tareas'%}">Tareas</a></li>
                <li><a href="{%url 'agenda'%}">Agenda</a></li>
            </ul>
        </nav>
    </div>
    

        <main>
            <section class="hero-section">
                <div class="hero-overlay">
                    <div class="hero-text">
                        <h1>Bienvenidos a Global MVM</h1>
                        <p>Soluciones digitales para una mejor energía</p>
                    </div>
                </div>
            </section>

            <section class="about-section">
                <h2>CONÓCENOS</h2>
                <div class="about-content">
                    <div class="about-item">
                        <a href="https://www.globalmvm.com">
                            <img src="../static/img/logo.png" alt="Logo Global MVM">
                        </a>
                        <h3>Somos Global MVM</h3>
                        <p>Líderes en gestión de talentos excepcionales.</p>
                    </div>
                    <div class="about-item">
                        <a href="{%url 'jovenesTalento'%}">
                            <img src="../static/img/jovenest.png" alt="Jóvenes Talento">
                        </a>
                        <h3>Somos Jóvenes Talento</h3>
                        <p>Transformando las oportunidades para las nuevas generaciones.</p>
                    </div>
                </div>
            </section>
        </main>
    </div>

    <footer>
        <div class="footer-container">
            <div class="contact-info">
                <h4>CONTÁCTANOS</h4>
                <p>📞 (57) 318 409 5193</p>
                <p>📧 personasexcepcionales@globalmvm.com</p>
            </div>
            <div class="social-media">
                <a href="#"><img src="../static/img/in.png" alt="LinkedIn"></a>
                <a href="#"><img src="../static/img/x.png" alt="X"></a>
                <a href="#"><img src="../static/img/facebook.png" alt="Facebook"></a>
                <a href="#"><img src="../static/img/you.svg" alt="YouTube"></a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>©2024 Global MVM. Todos los derechos reservados.</p>
        </div>
    </footer>

    <script src="../static/js/user.js"></script>
</body>
</html>
