<!DOCTYPE html>
<html>
<head>
    <title>Mi Página Web</title>
    <link rel="stylesheet" href="../static/css bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
        <nav class="navbar-header">
            <div class="logo">
                <a href="{%url 'index'%}">
                    <img src="../static/img/logo.png" alt="Logo Global MVM">
                </a>
            </div>
            <div class="user-profile">
                <a href="{%url 'login'%}">
                    <img src="../static/img/user.jpg" alt="User Profile">
                </a>
            </div>
        </nav>
    </header>

    <section class="hero-section">
        <div class="hero-overlay">
            <div class="hero-text">
                <h1>Bienvenidos a Jóvenes Talento</h1>
                <p>Impulsando talentos para el futuro</p>
            </div>
        </div>
    </section>

    <main class="section-jovenes">
        <section class="jovenes1">
          <img src="../static/img/somos.png" alt="imagen">
          <div>
            <h2>Quiénes somos</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </div>
        </section>

        <section class="jovenes2">
          <div>
            <h2>Nuestro fundador</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </div>
          <img src="../static/img/fundador.jpeg" alt="imagen">
        </section>

        <section class="jovenes3">
          <h2>Nuestro propósito</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          <div class="imagenes-proposito">
            <img src="../static/img/PROPOSITO.png" alt="imagen">
            <img src="../static/img/PROPOSITO (2).png" alt="imagen">
            <img src="../static/img/PROPOSITO (3).png" alt="imagen">
          </div>
        </section>
    </main>

    <footer>
        <div class="footer-container">
            <div class="contact-info">
                <h4>CONTÁCTANOS</h4>
                <p>📞 (57) 318 409 5193</p>
                <p>📧 personasexcepcionales@globalmvm.com</p>
            </div>
            <div class="social-media">
                <a href="#"><img src="../static/img/in.png" alt="LinkedIn"></a>
                <a href="#"><img src="../static/img/x.png" alt="X"></a>
                <a href="#"><img src="../static/img/facebook.png" alt="Facebook"></a>
                <a href="#"><img src="../static/img/you.svg" alt="YouTube"></a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>©2024 Global MVM. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>
